/*
 * Centering
 */

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
 * Media queries
 */

@mixin media-sm-up() {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin media-sm-down() {
  @media (max-width: 649px) {
    @content;
  }
}

@mixin hide-sm-up() {
  @include media-sm-up() {
    display: none;
  }
}
