/* Defaults
   ========================================================================== */

body,
html {
  box-sizing: border-box;
  line-height: 16px;
  font-family: $gl-regular-font;
  color: $gl-text-color;
  margin: 0;
}

:root {
  --default-fg: #{$gray-950};
  --default-bg: #{$white};
  --inverse-fg: var(--default-bg);
  --inverse-bg: var(--default-fg);
  --indigo-fg: #{$theme-indigo-200};
  --indigo-bg: #{$theme-indigo-800};
  --gray-fg: #{$gray-500};
  --gray-bg: #{$gray-10};
  --red-fg: #{$red-500};
  --red-bg: #{$red-100};
}

body {
  font-size: $base-font-size;
}

* {
  font-synthesis: none !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[tabindex="-1"]:focus:not(.focus-visible) {
  outline: 0 !important;
}
