@mixin type-scale($scale, $line-height, $margin-bottom: 0, $margin-top: 24px) {
  font-size: $base-font-size + ($scale * 2);
  line-height: $line-height * 4px;
  margin-bottom: $margin-bottom * 8px;
  margin-top: $margin-top;
}

h1, h2, h3, h4, h5, h6 { font-weight: $gl-font-weight-bold; }

/* UI Typography */

h1 { @include gl-heading-1 }
h2 { @include gl-heading-2 }
h3 { @include gl-heading-3 }
h4 { @include gl-heading-4 }
h5 { @include gl-heading-5 }
h6 { @include gl-heading-6 }
p  { @include type-scale(0, 4, 0, 0) }

a {
  text-decoration: none;
  color: $anchor-color;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include gl-focus;
  }
}

button {
  &:focus {
    @include gl-focus;
  }
}

code {
  color: $gray-950;
  background-color: $gray-50;
  border-radius: $border-radius;
  font-family: $gl-monospace-font;
  font-size: 90%;
  padding: $gl-spacing-1 $gl-spacing-2;
  white-space: pre-wrap;
  word-wrap: normal;
  word-break: keep-all;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background-color: $gray-10 !important;
  border: $border-width solid $border-color;
  border-radius: $border-radius;

  code {
    padding: 0;
    background-color: $gray-10 !important;
  }
}

.label { @include type-scale(0, 4, 0, 0) }
.f-display { @include type-scale(14, 12) }
.f-small { @include type-scale(-1, 4, 0, 0) }

/*  MD Typography */

.md,
.md .nuxt-content {
  @include type-scale(0, 6, 0, 0);

  > h1 { @include gl-mt-7 }

  > h2,
  > h3 {
    @include gl-mt-6;
  }

  > h4,
  > h5,
  > h6 {
    @include gl-mt-5;
  }

  > p  { @include type-scale(0, 6, 2, 0) }

  > blockquote,
  > ul,
  > ol {
    margin-bottom: 16px;
    margin-top: 0;
  }

  > ul, > ol {
    padding-left: $gl-spacing-6;

    ul, ol { margin-bottom: 0; }
  }

  > blockquote {
    border-left: ($border-width * 2) solid $purple-300;
    color: $gl-text-color-secondary;
    margin-left: 0;
    margin-right: 0;
    padding-left: $gl-spacing-5;

    > p  { @include type-scale(0, 6, 0, 0) }
  }
}

.nuxt-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;

    > a[aria-hidden] {
      left: -1em;
      width: 1em;
      visibility: hidden;
      position: absolute;

      &::before {
        content: '#';
      }
    }

    &:hover > a[aria-hidden] {
      visibility: visible;
    }
  }
}

p:last-child {
  margin-bottom: 0;
}
