<template>
  <span
    class="app-styles admonition admonition--note gl-rounded-base gl-rounded-base gl-flex-wrap gl-mb-5"
  >
    <span class="admonition-type">NOTE: </span>
    <slot></slot>
  </span>
</template>
